@import "./colors";
@import "./fonts";
@import "./vars";

h1, h2, h3, h4 {font-family: $heading-font;}
h1{font-size:$heading1-font-size}
h2{font-size:$heading2-font-size}
h3{font-size:$heading3-font-size}
h4{font-size:$heading4-font-size}

li{margin-bottom:12px;}


.ease-app{
  padding:70px 0 0px 0;
  font-family:$body-font;
  font-size:$text-font-size;
  line-height: $text-line-height;
  color:$text;

  .ease-header{
    position: fixed;
    top: 0;
    width:100%;
    height:$header-height;
    background-color:$heading;
    padding:6px 20px;
    z-index: 100;

    .ease-header-content{
      margin:0 auto;
      max-width:calc(#{$reading-width} + 100px);
      display: flex;
      justify-content: space-between;
    }
  
  }


  .ease-content{
    margin:0 auto;
    max-width:$reading-width;

    .ease-card{
      background-color:$light-background;
      border-radius:$radius;
      padding:20px;
      margin-bottom:$element-spacing;
    }

    .ease-activity{
      border-left:10px solid $primary;
      padding:10px 20px 20px;
      border-radius:$radius 0 0 $radius;
      position:relative;
      margin-bottom:$element-spacing;

      .fa-icon-activity{
        position:absolute;
        top:9px;
        left:-45px;
        font-size:130%;
        border-radius:26px 0 0 26px;
        background-color:$primary;
        padding:8px 0;
        color:#fff;
        width:45px;
        text-align:center;
      }

      .ease-activity-info{
        float:right;
        font-size:80%;
        font-family:$sans-font;

        span{
          padding-right:6px;
    
          &:after{
            content:"|";
            padding-left:6px;
            display:inline-block;
          }

          &:last-of-type{
            padding-right:0;
          
            &:after{
              content:"";
            }
    
          }
        }
      }
    }
  }

  .ease-modules{
    background-color:$light-background;
    margin-top:30px;
    padding-bottom:50px;
    padding-top:50px;

  .ease-module-grid{
    display: grid;
    grid-template-columns: $grid;
    grid-column-gap: $grid-space;
    grid-row-gap: $grid-space;
    margin:0 auto;
    max-width:$reading-width;

    .large-module{
      grid-column:1/span 2;

      .respnsive-image{
        height:$module-image-height;
      }
    }

    .ease-module{
      border-radius:$radius;
      position:relative;
      background-color:$light-background;
      box-shadow:0px 0px 6px #999;
   
      &:hover{
        background-color:$light-hover;
      }
    
      .ease-status{
        position:absolute;
        bottom:0;
        width:100%;
        height:12px;
        background-color:#efefef;
        border-radius:0 0 $radius $radius;
      
        &:after{
          content:'';
          display:block;
          background-color:$secondary;
          width:0%;
          height:12px;
          border-radius:0 $radius $radius $radius;
        }
      }

      .status100{
       &:after{
        width:100%;
          border-radius:0 0 $radius $radius;
       }
      }
      .status75{
       &:after{
        width:75%;
       }
      }
      .status25{
       &:after{
        width:25%;
       }
      }


      .ease-module-text{
        padding:12px 12px 24px 12px;
        height:100%;
        line-height:1.3;

        h4{
          vertical-align:bottom;
        }

      }
    }
  }
}
  .fa-icon{
    background-color: #fff;
    width:2em;
    height:2em;
    border-radius:30px;
    font-size:1.1em;
    text-align: center;
    line-height:2em;
  }

  button{
    font-family:$sans-font;
    background-color:$secondary;
    border:0;
    padding:8px 20px;
    color:#fff;
    border-radius:4px;
    font-size:1rem;
  }

}

.ant-drawer{

  .ant-drawer-title{
    font-size:$heading2-font-size;
    font-family: $heading-font;
  }

.anticon-close{
    border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 2em;
  width: 2em!important;

  &:hover{background-color:$light-background;}

}

  .ant-drawer-wrapper-body{
    overflow:auto;
    height:100%;
  }

  &.ease-drawer .ant-drawer-content-wrapper{
    width:85%!important;
  }

  &.ease-drawer2{

    .ant-drawer-content-wrapper{
      top:70px;
      height:100%!important;
    }

    .module{
      transition: all .3s ease-in-out;
    &.nav-open{
      transition: all .3s ease-in-out;
      margin-left:200px;
    }
    }


  }

  &.shrink{
      transition: all .3s ease-in-out;
        transform: translateY(calc(100vh - 123px));
      .ant-drawer-mask{
        display:none;
      }

      .ant-drawer-content-wrapper{
        border-top:2px solid #ccc;
      }

  }


  &.ease-drawer3{ 

    .ant-drawer-content-wrapper{
      top:70px;
      box-shadow:none!important;

      .ant-drawer-content{
        background-color:$dark-background;
        color:#fff;
        font-size:90%;
      }

      .ant-drawer-body{
        padding-top:14px;

        h3{
          color:#fff;
          margin:20px 0 0 0;
        }

        ul{
          list-style-type:none;
          padding:0;
          margin-top:10px;
        }
      }
    }
  }
}

.ant-modal-wrap{
  top:50px;
}

.ease-module-modal{
  width:99%!important;
  height:100%;
  top:0px;

  .ant-modal-close-x{
    line-height:46px;
    font-size:24px;
  }
  
  .ant-modal-header{
    padding:10px 20px;
  }

  .ant-modal-content{
    height:100%;
    border:2px solid $border;
    overflow:hidden;
    border-radius:0;
  }

  .ant-modal-body{
    height:100%;
    overflow:scroll;
    padding-top:20px;
  }

  .ant-modal-title{
    font-family: $heading-font;
    font-size:180%;
  }

}

.respnsive-image{
  height:150px;
  width:100%;
  display:block;
  border-radius:8px 8px 0 0;
}

.menu-icon{
  position:absolute;
  top:12px;
  z-index:1000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &.hideme{
    display:none;
  }
  &:hover{background-color:$light-background;}
}

.min-icon{
  position:absolute;
  top:12px;
  right:50px;
  z-index:1000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &.hideme{
    display:none;
  }
  &:hover{background-color:$light-background;}
}

.max-icon{
  display:none;
  position:absolute;
  top:12px;
  right:50px;
  z-index:2000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &.showme{
    display:block;
  }
  &:hover{background-color:$light-background;}
}
.lo-icon{
  position:absolute;
  top:12px;
  right:90px;
  z-index:2000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &:hover{background-color:$light-background;}
}

body.allowOverflow{overflow:auto!important;}