@import "./colors";
@import "./fonts";
@import "./vars";

h1, h2, h3, h4 {font-family: $heading-font;}
h1{font-size:$heading1-font-size}
h2{font-size:$heading2-font-size}
h3{font-size:$heading3-font-size}
h4{font-size:$heading4-font-size}

li{margin-bottom:12px;}
.ease-app{
  padding:70px 0 0px 0;
  font-family:$body-font;
  font-size:$text-font-size;
  line-height: $text-line-height;
  color:$text;

  .ease-header{
    position: fixed;
    top: 0;
    width:100%;
    height:$header-height;
    background-color:$heading;
    padding:6px 20px;
    z-index: 100;

    .ease-header-content{
      margin:0 auto;
      max-width:calc(#{$reading-width} + 100px);
      display: flex;
      justify-content: space-between;
    }
  
  }

  .ease-content{
    margin:0 auto;
    max-width:$reading-width;

    .ease-intro{
      p:last-child{
        margin-bottom:0;
      }
    }

    .ease-card{
      background-color:$light-background;
      border-radius:$radius;
      padding:0px;
      margin-bottom:0;
      border:2px solid $primary;
      box-shadow:0px 0px 12px #999;
  
      h3{
        background-color:$primary;
        color:#fff;
        padding:20px;
      }
      
      .add-menu{
        .add-item{
          position:relative;
          left:20px;
          top:0;
          margin:0;
        }
      }

      ul{
        padding:15px;
        margin-left:0;


        li{

          padding: 6px 60px;
          margin-bottom:6px;

          &:hover{
            background-color:darken($light-background, 10%);
            border-radius:$radius;

            .hidden{display:block;}
          }
          .fa-li{
            left:20px;
          }
          &.placeholder{opacity:0}

        }
      }

    }

    .ease-activity{
      border-left:10px solid $primary;
      padding:10px 20px 20px;
      border-radius:$radius 0 0 $radius;
      position:relative;
      margin-bottom:$element-spacing;
      clear:right;

      .fa-icon-activity{
        position:absolute;
        top:9px;
        left:-45px;
        font-size:130%;
        border-radius:26px 0 0 26px;
        background-color:$primary;
        padding:8px 0;
        color:#fff;
        width:45px;
        text-align:center;
      }

      .ease-activity-info{
        float:right;
        font-size:80%;
        font-family:$sans-font;

        span{
          padding-right:6px;
    
          &:after{
            content:"|";
            padding-left:6px;
            display:inline-block;
          }

          &:last-of-type{
            padding-right:0;
          
            &:after{
              content:"";
            }
    
          }
        }
      }
    }
  }

  .ease-modules{
    background-color:#fff;
    margin-top:30px;
    padding-bottom:50px;
    padding-top:50px;
    position:relative;

    .ease-module-grid{
      display: grid;
      grid-template-columns: $grid;
      grid-column-gap: $grid-space;
      grid-row-gap: $grid-space;
      margin:0 auto;
      max-width:$reading-width;

      &.large-grid{
        grid-template-columns:1fr 1fr;

        .respnsive-image{
          height:250px;
        }

      }

      &.small-grid{
        grid-template-columns:1fr 1fr 1fr 1fr;

        .respnsive-image{
          height:100px;
        }

      }

      .large-module{
        grid-column:1/span 2;

        .respnsive-image{
          height:$module-image-height;
        }
      }

      .ease-module{
        border-radius:$radius;
        position:relative;
        background-color:#fff;
        box-shadow:0px 0px 6px #999;
   
        &:hover{
          background-color:$light-hover;
          z-index:100;        

          .ease-module-text{          
            background-color:$light-hover;
          }

          .edit-menu{
            right:-30px;
            opacity:1;
          
            &.horizontal{
              right:-100px;
            }
          }
        }

        img{
          z-index:10;
          position:relative;
        }
    
        .ease-status{
          position:absolute;
          bottom:0;
          width:100%;
          height:12px;
          background-color:#efefef;
          border-radius:0 0 $radius $radius;
          z-index:11;
      
          &:after{
            content:'';
            display:block;
            background-color:$secondary;
            width:0%;
            height:12px;
            border-radius:0 $radius $radius $radius;
          }
        }

        .status100{
          &:after{
            width:100%;
            border-radius:0 0 $radius $radius;
          }
        }

        .status75{
          &:after{
            width:75%;
          }
        }
      
        .status25{
          &:after{
            width:25%;
          }
        }


        .ease-module-text{
          padding:12px 12px 24px 12px;
          background-color:#fff;
          border-radius:$radius;
          line-height:1.3;
          z-index:10;
          position:relative;

          h4{
            vertical-align:bottom;
          }

        }

        .edit-menu{
          position:absolute;
          top:10px;
          right:0px;
          border-radius:0 $radius $radius 0;
          background-color:$heading;
          display:flex;
          flex-direction:column;
          z-index:1;
          transition: all .3s ease-in-out;


          &.horizontal{
            flex-direction:row;
          }
          span{
            color:#fff;
            padding:0 8px;
          }
        }

      }
    }
  }
  
  .fa-icon{
    background-color: #fff;
    width:2em;
    height:2em;
    border-radius:30px;
    font-size:1.1em;
    text-align: center;
    line-height:2em;
    display:inline-block;
    margin-right:8px;
  }

  button{
    font-family:$sans-font;
    background-color:$secondary;
    border:0;
    padding:8px 20px;
    color:#fff;
    border-radius:4px;
    font-size:1rem;
  }

}

.ant-drawer{

  &.nav-open{
  transform: translateY(0)!important;
  }

  .ant-drawer-title{
    font-size:$heading2-font-size;
    font-family: $heading-font;
  }

  .anticon-close{
    border-radius: 20px;
    background-color: #efefef;
    padding: 7px;
    height: 2em;
    width: 2em!important;

    &:hover{background-color:$light-background;}

  }

  .ant-drawer-wrapper-body{
    overflow:auto;
    height:100%;
  }

  &.ease-drawer .ant-drawer-content-wrapper{
    width:85%!important;
  }

  &.ease-drawer2{

    .ant-drawer-content-wrapper{
      top:70px;
      height:100%!important;
    }

    .module{
      transition: all .3s ease-in-out;
      
      &.nav-open{
        transition: all .3s ease-in-out;
        margin-left:200px;
      }
    }
  }

  &.shrink{
    transition: all .3s ease-in-out;
    transform: translateY(calc(100vh - 123px))!important;
    
    .ant-drawer-mask{
        display:none;
    }

    .ant-drawer-content-wrapper{
      border-top:2px solid #ccc;
    }
  }

  &.ease-drawer3{ 

    .ant-drawer-content-wrapper{
      top:70px;
      box-shadow:none!important;

      .ant-drawer-content{
        background-color:$dark-background;
        color:#fff;
        font-size:90%;
      }

      .ant-drawer-body{
        padding-top:14px;

        h3{
          color:#fff;
          margin:20px 0 0 0;
        }

        ul{
          list-style-type:none;
          padding:0;
          margin-top:10px;

          li{
            padding:4px 8px;
            margin:0;
            position:relative;
          &:hover{
            background-color:#000;
            border-radius:8px;
          
            .hidden{
              display:block;
            }
          }

          }
        }        
      }
    }
  }
}

.ant-modal-wrap{
  top:10px;
}

.ease-module-modal{
  width:99%!important;
  height:100%;
  top:0px;

  .ant-modal-close-x{
    line-height:46px;
    font-size:24px;
  }
  
  .ant-modal-header{
    padding:10px 20px;
  }

  .ant-modal-content{
    height:100%;
    border:2px solid $border;
    overflow:hidden;
    border-radius:0;
  }

  .ant-modal-body{
    height:100%;
    overflow:scroll;
    padding-top:20px;
  }

  .ant-modal-title{
    font-family: $heading-font;
    font-size:180%;
  }

}

.respnsive-image{
  height:150px;
  width:100%;
  display:block;
  border-radius:8px 8px 0 0;
}
.grid-icon{
  position:absolute;
  top:20px;
  right:200px;
  color:#ccc;
}

.min-icon{
  position:absolute;
  top:12px;
  right:50px;
  z-index:1000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &.hideme{
    display:none;
  }
  &:hover{background-color:$light-background;}
}

.max-icon{
  display:none;
  position:absolute;
  top:12px;
  right:50px;
  z-index:2000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &.showme{
    display:block;
  }
  &:hover{background-color:$light-background;}
}
.lo-icon{
  position:absolute;
  top:12px;
  right:90px;
  z-index:2000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &:hover{background-color:$light-background;}
}

body.allowOverflow{overflow:auto!important;}

.icon-left{
  position:absolute;
  left:10px;
  top:15px;
  opacity:.5;
}
.icon-right{
  position:absolute;
  right:5px;
  top:5px;
  opacity:.5;
}
.hidden{display:none;}



.add-menu{
  position:relative;
  height:30px;
  clear:left;

  .add-item{
    position:absolute;
    top:6px;
    z-index:10;
    margin-left: -45px;
    border-radius: 50%;
    border: 14px solid #efefef;
    width: 14px;
    height: 14px;
    color:#fff;

    &::after{
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -13px;
      left: 5px;
      border: 13px solid transparent;
      border-left: 25px solid #efefef;
    }

    .fa-plus{
      position:absolute;
      top:-9px;
      left:-8px;
      z-index:11;
      transition: all .3s ease-in-out;
    }
  }
  
  input{
    position:absolute;
    top: 10px;
    left:-75px;
    width:80px;
    height:30px;
    z-index:12;
    border-radius: 80px;
    opacity:0;
    cursor:pointer;
    background-color:orange;  
  
    &:checked{
      
      ~ .add-menu-items{
        transform:scaleX(1);
        opacity:1;


        .action_items span{
          opacity:1;
          transition-delay:.45s;
        }

      }

      ~ .add-item{
        border:14px solid $primary;

        .fa-plus{
          transform:rotate(45deg)
        }
        &::after{
          border-left:25px solid $primary;
        }

      }

    }

    &:hover{
    
      ~ .add-item{
        border:14px solid $primary;

        &::after{
          border-left:25px solid $primary;
        }
      }
    }

  }

  .add-menu-items{
    position:absolute;
    top:5px;
    left:-46px;
    height:30px;
    padding:1px 30px 0 40px;
    background-color: $heading;
    border-radius:40px;
    box-shadow: 0px 5px 20px #ccc;
    z-index:5;
    display:flex;
    opacity:0;
    /*   animation-name: expand-the-bar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; */
    transform:scaleX(0);
    transform-origin:left;
    transition: all .3s ease-in-out;
  }

  .action_items span{
    padding-left:25px;
    opacity:0;
    transition: all .2s ease-in-out;
    cursor:pointer; 
    color:#fff;
  }
}

.modreq{
  background-color:#efefef;
  padding:4px 12px;
  margin:12px 0;
}

