@import "./colors";
@import "./fonts";
@import "./vars";

body{
  font-size:$text-font-size;
}

.ant-drawer-body{
  font-size:1em;
}
ant-drawer-title{
  margin:0;
}

.drawer-content{

  button{
    font-family:$sans-font;
    background-color:$secondary;
    border:0;
    padding:8px 20px;
    color:#000;
    height:auto;
    align-self:center;

    &:hover{
      background-color:$secondary-hover;
    }
  }

  .course-activities{
    margin-bottom:30px;
  }

  .ease-activity{
    border-left:10px solid $primary;
    padding:10px 20px 20px;
    position:relative;
    margin-left:50px;
    border-top:1px solid $primary;
    display:flex;
    min-height:100px;
    justify-content:space-between;

    &:last-of-type{
      border-bottom:1px solid $primary;
    }

    .fa-icon-activity{
        position:absolute;
        top:9px;
        left:-45px;
        font-size:100%;
        border-radius:26px 0 0 26px;
        background-color:$primary;
        padding:8px 0;
        color:#fff;
        width:45px;
        text-align:center;
    }

    .ease-activity-info{
      float:right;
      font-size:80%;
      font-family:$sans-font;

      span{
        padding-right:6px;
    
        &:after{
          content:"|";
          padding-left:6px;
          display:inline-block;
        }

        &:last-of-type{
          padding-right:0;
       
          &:after{
            content:"";
          }
        }
      }
    }
  }
}

.ant-table-fixed > .ant-table-thead > tr > th{
  border:1px solid #eee;
  position:relative;
}


.ant-table-fixed th:after{
  display:block;
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f05a";
display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;

}
.ant-table-fixed th:first-child:after{
  content:"";
  display:none;
}


