@import "./colors";
@import "./fonts";
@import "./vars";

h1, h2, h3, h4{
  font-family: $heading-font;
}

.ant-drawer{
  
  &.ease-drawer3{ 

    .ant-drawer-content-wrapper{
      top:70px;
      box-shadow:none!important;

      .ant-drawer-content{
        background-color:$dark-background;
        color:#fff;
        font-size:90%;
      }

      .ant-drawer-body{
        padding-top:14px;

        h3{
          color:#fff;
          margin:20px 0 0 0;
        }

        ul{
          list-style-type:none;
          padding:0;
          margin-top:10px;
        }
      }
    }
  }
}

.menu-icon{
  position:absolute;
  top:12px;
  z-index:1000;
  border-radius: 20px;
  background-color: #efefef;
  padding: 7px;
  height: 1.7em;
  width: 1.7em!important;
  &.hideme{
    display:none;
  }
  &:hover{background-color:$light-background;}
  &.hideme{display:none;}
}


.ant-drawer-title{
  font-size:1.3rem;
  font-family: $heading-font;
  max-width:calc(#{$reading-width} + 75px);

}

.ease-drawer2 .ant-drawer-title{
   margin:0 auto;
    transition: all .3s ease-in-out;

  &.nav-open{
    transition: all .3s ease-in-out;
  margin-left:200px;
  }

} 


.ant-drawer-body{
  padding-top:68px;
}

.ant-drawer-header{
  position:absolute;
  width:100%;
  z-index:1000;
}


.module-content{
  margin:0 auto 100px auto;
  max-width:calc(#{$reading-width} + 150px);;
  font-family: $body-font;
  font-weight:400;
  font-size:$text-font-size;
  line-height: $text-line-height;
  color:$text;
  padding:0 50px;
}

.nav{
  position: fixed;
  font-size:200%;
  top:72px;
}

.nav-left{
  left:0;
    transition: all .3s ease-in-out;
    &.nav-open{
    left:200px;
    transition: all .3s ease-in-out;

  &.shrink{
      transition: all .3s ease-in-out;
        transform: translateY(calc(100vh - 123px))!important;

  }
}
}

.nav-left svg{
  left:15px;
}
.nav-right{
  right:0;
}
.nav-right svg{
  right:15px;
}
.nav svg{
  position:absolute;
  top:50%;
}

.fa-icon{
  background-color: #fff;
  width:50px;
  height:100%;
  text-align: center;
  line-height:1.5em;

  &:hover{
    background-color: #efefef;
  }
}

.ant-tabs{
  margin-bottom:30px;
  
  .ant-tabs-nav{
  
    .ant-tabs-tab{
      font-family:$heading-font;
      margin:0 12px 0 0;
      padding:12px 32px;
    
      &:hover{
        color:$primary;
      }
  
    }
  
    .ant-tabs-tab-active{
      color:$primary;
      background-color:$light-background;
    }
  
    .ant-tabs-ink-bar{
      background-color:$primary;
    } 

  }
}

.ant-carousel{
  margin-top:50px;
  
  .slick-slider{
    
    .slick-slide{
      background:$light-background;
      line-height:$text-line-height;
      text-align:left;
      font-size:$text-font-size;
      padding:20px;
      height:auto;
    }
    
    .slick-dots{
      top:-30px;
      
      li{
        
        button{
          background:$primary;
          height:20px;
          width:20px;
          border-radius:20px;
        }
      }
    }
  }
}

.ant-collapse{
  margin-bottom:30px;
  background-color:$light-background;

  .ant-collapse-header{
    font-family:$heading-font;
  }
}

.ant-tabs, .ant-tabs-nav-container, .ant-collapse{
  font-size:$text-font-size;
  line-height:$text-line-height;
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(50%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate(50%, 0);
  }
}


.next-animate {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeOutLeft;
}

.next-animate2 {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

.prev-animate {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

.prev-animate2 {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeOutRight;
}



  button{
    font-family:$sans-font;
    background-color:$secondary;
    border:0;
    padding:8px 20px;
    color:#fff;
    border-radius:4px;
    font-size:1rem;
  }

#reading .learning-objectives, .learning-objectives2{
    height:auto;
    overflow:hidden;
    float:right;
      border-radius:$radius;
      padding:0;
      margin-bottom:$element-spacing;
    margin-left:12px;
    margin-right:30px;
    max-width:400px;
    position:relative;
    top:0px;
    transition: all .3s ease-in-out;
    background-color:$light-background;
    border:2px solid $primary;
      box-shadow:0px 0px 12px #999;
    &.showme{
      transition: all .3s ease-in-out;
      height:0;
    padding:0;
    border:0;
    shadow:none;
  }

  h3{
    background-color:$primary;
    color:#fff;
    padding:20px;
  }
  ul{
    padding:15px;
  }

  }

.learning-objectives2{
  height:0;
  border:0;
  shadow:none;

    &.showme{
      transition: all .3s ease-in-out;
      height:auto;
    border:2px solid $primary;
      box-shadow:0px 0px 12px #999;
    shadow:none;
  }

}

.vid-embed{
  display: block; 
  width: 560px; 
  height:330px;
  margin: 0 auto;
}

#page1{
  display:block;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page2{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page3{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page4{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page5{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page6{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page7{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}
#page8{
  display:none;
  &.showpage{display:block;}
  &.hidepage{display:none;}
}

.leftimg{
  float:left;
  padding:0 0px 20px 0;
        z-index:10;
      position:relative;
}
.rightimg{
  float:right;
  padding:0 0 20px 20px;
}


.pageel{
  position:relative;
}

.pageel:hover{
    p{
      background-color:rgba(100,100,100,.1);
      opacity:.5;
    }

    img{
      opacity:.5;
    }

    iframe{
      opacity:.5;

    }

    .ease-activity{
      opacity:.5;
    }


          .edit-menu{
            right:-30px;
            opacity:1;
          
            &.horizontal{
              right:-100px;
            }
          }


}

.leftel{
  float:left;

}


        .edit-menu{
          position:absolute;
          top:10px;
          right:20px;
          border-radius:0 $radius $radius 0;
          background-color:$heading;
          display:flex;
          opacity:0;
          flex-direction:column;
          z-index:1;
          transition: all .3s ease-in-out;


          &.horizontal{
            flex-direction:row;
          }
          span{
            color:#fff;
            padding:0 8px;
          }
        }

 .ant-form-item-label{
  line-height:20px;
  margin-top:8px;
 }       

.ant-form-item-label > label{
  font-weight:600;
}


.textel{
  
  .controls{display:none}

  &:focus{
     border:1px solid #efefef;
     outline:none;
     padding:10px;
     background-color:#fff;

     &:hover{
      
      p{
         opacity:1;
       background-color:#fff;
     }
     }

    .controls{display:block}
  }

}

.edit-icon{
            position:absolute;
          top:-10px;
          right:-10px;
          border-radius:$radius;
          background-color:$heading;
          padding:2px 8px;
}